{% extends 'base.html'%}

{% load crispy_forms_tags %}

{% block content%}
<form method="post">
                <div class="row mt-5">
                    <div class="col mt-5">
                        <center><h1>Войти</h1></center>
                        {% csrf_token %}
                        {{ form|crispy }}
                        {{ form }}
                    </div>
                    <div class="row">
                        <div class="col mt-4">
                            <button type="submit" class="btn btn-primary" value="Sign up">Submit</button>
                        </div>
                    </div>
                </div>
        </form>
{% endblock%}