{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}
    <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="https://i.ibb.co/Dpbxpk5/pacman-Open.png" alt="pacman-Open" border="0"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link "  href="{% url 'index' %}">Голосования</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Профиль</a>
          </li>
            {% endif %}
            <li class="nav-item">
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout'%}">Выйти</a>
            {% else %}
            <a class="nav-link" href="{% url 'django_registration_register'%}">Зарегистрироваться</a>
                </li>
            <li class="nav-item">
            {% endif %}
          </li>aria-current="page"
        </ul>
      </div>
    </div>
  </nav>

    <!-- nav-bar -->

        <form method="post">
                <div class="row mt-5">
                    <div class="col  mt-4">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary" value="Sign up">Submit</button>
                    </div>
                </div>
                </div>
        </form>
    </body>
{% endblock %}