{% extends 'base.html' %}

{% block content %}

<style>
    h1 {
    text-align: center;
    }
    .image {
    margin-left: 275px;
    }
    .mt-4{
    text-align: center;
    }
</style>

    <!-- отображение пользователя на главной странице -->

    <h1 class="mt-5 p-3">Привет!</h1>


    <div class="mt-4">
        <img src="https://s9.gifyu.com/images/2_5382173967027022522-1.gif" alt="pacman">
        <h2  class="mt-4" >Кто мы</h2>
 <h5>Мы команда школы программистов, состоящая из 14 человек.</h5>
 <h5>Это наш второй проект, сделанный из еще большего колличества наших слез.</h5>
 <h5>Первый наш общий проект, это был пакман, который можно увидеть на гифке выше.</h5>
 <br>
 <h2>О проекте</h2>
 <h5>Сайт голосование - это сайт, на котором можно создавать свои голосования,</h5>
 <h5>а также участвовать в голосованиях других пользователей</h5>

    </div>

{% endblock %}
