{% extends 'base.html' %}

{% block content %}

    <!-- отображение пользователя на главной странице -->

    {% if user.is_authenticated %}

    <h1 class="mt-5 p-3">Привет, {{ user.username }}!</h1>
        {% if messages %}
                {% for message in messages %}
                    <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
        {% endif %}
<img src="https://s9.gifyu.com/images/2_5382173967027022522-1.gif" alt="pacman">

    <div class="mt-4">
        <h2>Кто мы</h2>
        <h5>Мы команда школы программистов, состоящая из 14 человек.</h5>
        <h5>Это наш второй проект, сделанный из еще большего колличества наших слез.</h5>
        <h5>Первый наш общий проект, это был пакман, который можно увидеть на гифке выше.</h5>
        <br>
        <h2>О проекте</h2>
        <h5>Сайт голосование - это сайт, на котором можно создавать свои голосования,</h5>
        <h5>а также участвовать в голосованиях других пользователей</h5>
    </div>
    {% else %}
    <h1 class="mt-5 p-3">Привет, войди или зарегистрируйся!</h1>
        {% if messages %}
                {% for message in messages %}
                    <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
        {% endif %}
    <img src="https://s9.gifyu.com/images/2_5382173967027022522-1.gif" alt="pacman">
    <div class="mt-4">
        <h5>Перед тобой сайт-голосование.</h5>
        <h5>После регистрации ты сможешь создавать голосования и голосовать.</h5>
    </div>
    {% endif %}
{% endblock %}
