<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand"><img src="https://i.ibb.co/Dpbxpk5/pacman-Open.png" alt="pacman-Open" border="0"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Главная</a>
                </li>

                {% if user.is_authenticated %}

                {% if request.get_full_path != '/profile/' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Профиль</a>
                </li>
                {% endif %}

                {% if request.get_full_path != '/votings/' %}
                <li class="nav-item">
                  <a class="nav-link"  href="{% url 'voting_list' %}">Голосования</a>
                </li>
                {% endif %}

                {% if request.get_full_path != '/votings/create/' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'voting_create' %}">Создать голосование</a>
                 </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                </li>

                {% else %}

                {% if request.get_full_path != '/accounts/register/' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'django_registration_register' %}">Зарегистрироваться</a>
                </li>
                {% endif %}

                {% if request.get_full_path != '/accounts/login/' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Войти</a>
                </li>
                {% endif %}

                {% endif %}
            </ul>
        </div>
    </div>
</nav>